# ignore all
*
# unignore all with extensions
!*.*
# unignore all dirs
!*/


## ignore list

*/build/*
*.aux
*.log
*CMakeCache.txt
*cmake_install.cmake
*Makefile
*CMakeFiles

# tex files
*.synctex.gz
*.log
*.aux

# Sublime Text
*.sublime-workspace
*.sublime-project

# TeXlipse plugin
.texlipse

# CDT-specific (C/C++ Development Tooling)
.cproject
tmp/
bin/

# Windows image file caches
Thumbs.db
ehthumbs.db